<li>
	{{burger}}

	<button class="change-state" data-id="{{id}}" data-newState="{{eaten}}">
		{{#if eaten}}EAT DA BURGER!{{else}}RE-ORDER DA BURGER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">PURGE!</button>
</li>