<li>
	<div class="col-md">{{burger}}</div>

	<div class="col-md">
		<button class="change-state" data-id="{{id}}" data-newstate="{{eaten}}">
		{{#if eaten}} EAT DA BURGER! {{else}} RE-ORDER! {{/if}}
		</button>

		<button class="delete-burger" data-id="{{this.id}}"> THROW OUT! </button>

	</div>
</li>